p {
    color: white;
    font-size: 25px;
}

.container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.header {
    width: 100%;
    height: 12%;
    background: orange;
}

.spaceH {
    float: left;
    width: 30%;
    height: 40%;
    margin: 1% 1%;
    background: #ffffff;
}

.context {
    position: relative;
    width: 100%;
    height: 76%;
}

._span {
    text-align: center;
    float: left;
    margin-left: 0.5%;
    width: 24.5%;
    height: 100%;

}

.footer {
    height: 12%;
    width: 100%;
    background: orange;
}